@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,300,300italic,700);
body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.sidemenu {
    width: 300px;
    float: right;
    position: fixed;
    z-index: 9;
    right: 0;
    margin-top:20px;
}


.sidemenu.active li, .sidemenu li.active {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
    letter-spacing:2px;
}

.sidemenu li {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 60px;
    overflow: hidden;
    font-size: 30px;
    letter-spacing: 15px;
    color: white;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: .1s ease all;
    transition: .1s ease all;
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
    background: rgba(220, 93, 42, 0.8);
}
.sidemenu li:nth-child(2){
    background: rgba(74,78,82,0.8);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}
.sidemenu li:nth-child(3){
    background:rgba(170,11,25,0.8);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}
.sidemenu li:nth-child(4){
    background:rgba(0,146,221,0.8);
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}
.slickElem {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}



@keyframes fadein {
    0%, 100% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }
}

.show .overlay{
    opacity: 0;
    animation: fadein 1s ease-in-out 0s 1;
    background: rgba(255,255,255,1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.slideDescription {
    background-color: rgba(0,0,0,0.4);
    padding: 30px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 200px;
    color: #FFFFFF;
}

.slideDescription h1{
    font-family: roboto;
    font-weight: 300;
    font-size: 68px;
}

.slideDescription .text{
    font-size: 24px;
    font-family: roboto;
    font-weight: 100;
}