<div>
    <slick infinite="true" slides-to-show="1" slides-to-scroll="1" current-index="config.currentIndex">
        <div ng-repeat="elem in data" ng-show="elem.public === true" style="position: relative;">
            <div class="slideDescription" ng-show="elem.public === true">
                <h1>{{elem.title}}</h1>
                <p class="text" ng-bind-html="trustAsHtml(elem.description)"></p>
            </div>
            <div ng-if="elem.type === 'iframe'" class="slickElem">
                <iframe ng-src="{{elem.trustUrl}}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width: 100%; height: 100%;"></iframe>
            </div>
            <div ng-if="elem.type === 'image'" class="slickElem">
                <img ng-src="{{elem.trustUrl}}" height="100%">
            </div>
        </div>
    </slick>
</div>