<div>
    <ul class="sidemenu" ng-class="{'active': displayNavigator}">
        <li ng-if="elem.public === true" ng-repeat="elem in elems" ng-class="{'active': activeItem.id === elem.id}">{{elem.name}}</li>
    </ul>
</div>